<h1>Detail Page</h1>
<hr />
<ul>
@foreach(var item in Model["items"])
{
<li>
@item.GetDescription()
</li>
}
</ul>
<a href = '/categories/@Model["category"].GetId()/items/new'><button class='btn btn-danger'>Add Item</button></a>
<a href = '/categories/@Model["category"].GetId()'><button class='btn btn-warning'>View "@Model["category"].GetName()"</button></a>